@import "https://unpkg.com/open-props";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
:root{
    --bg-color: #222327;
    --text-color:#fff;
    --btn-color:#29fd53;

}

body{
    background-color: var(--gray-1);
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
.go-back{
    position: absolute;
    top:3%;
    left: 5%;
    font-size: 9px;
    border: 0 solid transparent;
    
}
.go-back:hover{
    color: var(--bg-color);
    cursor: pointer;
    scale: 1.04;
    transition: .4s ease-in-out;
}

.go-back:active{
    color: var(--bg-color);
    cursor: pointer;
    scale: 1.04;
    transition: .4s ease-in-out;
}
h1{
    padding-bottom: 10px;
    font-size: 23px;
}
.address-info{
    font-size: 15px;
    font-weight: 500;
}

.contact-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0 0px 0;
    width: 100%;
    padding: 20px 20px;

}
.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}
.label-class{
    font-size: 13px;
    font-weight: 500;
}
 .input-class{
    margin: 2px 0 5px 0;
    width: 100%;
    border:  solid rgba(0, 0, 0, 0.441);
 }
 .type{
    border:  solid rgba(0, 0, 0, 0.441);
 }
 textarea{
    height: 13vh;
 }
 .checkbox{
    display: none;
 }
 .submit-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    font-size: 13px;
    margin-top: 5px;
    background-color: #222327;
    color: #fff;
 }
 .submit:hover{
    cursor: pointer;
    scale: 1.06;
    transition: .3s ease-in-out;
 }

 .submit:active{
    cursor: pointer;
    scale: 1.06;
    transition: .4s ease-in-out;
 }
 .submit-message{
    display: none;
    font-size: 12px;
    margin: 5px 5px;
 }
 #submit:checked ~.submit-message{
    display: block;
    transition: cubic-bezier(1, 0, 0.78, 1)
 }
 
 footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 20px 0 10px 0;
 }
 footer{
    margin: 50px 0 0 0;
 }
.contact-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 10px;
}
small{
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
} 
.maps{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    margin: 30px 0 20px 0;
}
::placeholder{
    font-size: 12px;
}


 @media screen and (min-width: 390px) {
    .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    }
    .contact-information{
      padding: 50px 0 20px 0;
      line-height: 30px;
    }
    
    .input-class{
        margin-bottom: 20px;
        border:  solid rgba(0, 0, 0, 0.441);
    }
    footer p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 20px 0 10px 0;
     }
     footer{
        margin: 50px 0 0 0;
     }
    .contact-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        gap: 10px;
    }
    small{
        font-size: 10px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    } 
    ::placeholder{
        font-size: 12px;
    }
    .type{
        border:  solid rgba(0, 0, 0, 0.441);
    }
    .contact-icons:hover{
        scale: 1.06;
        cursor: pointer;
    }

    
 }
 @media screen and (min-width:768px){
    .input-class{
        border:  solid rgba(0, 0, 0, 0.441);
        border-radius: 1px;
        height: 30px;
    }
    .type{
        border:  solid rgba(0, 0, 0, 0.441);
    }
    ::placeholder{
        color: #222327;
        font-size: 12px;
    }
    .maps{
        width: 100%;
        height: 15vh;
    }
    .contact-icons:hover{
        scale: 1.06;
        cursor: pointer;
    }
    
 }
 @media screen and (min-width:1024px){
    .contact-us{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .form-container{
        margin: 16vh 10vh 2vh 0;
    }
    .maps{
        width: 100%;
        height: 20vh;
    }
    .contact-icons:hover{
        scale: 1.06;
        cursor: pointer;
    }
    
 }
 @media screen and (min-width:1250px) {
    .contact-us{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    .form-container{
        margin: 16vh 14vh 2vh 0;
    }
    .contact-icons:hover{
        scale: 1.06;
        cursor: pointer;
    }
    
    
 }
 @media screen and (min-width:1440px) {
    .form-container{
        margin: 16vh 30vh 2vh 0;
    }
    .contact-information {
        padding: 50px 0 20px 25px;
        line-height: 30px;
    }
    .go-back {
        position: absolute;
        top: 3%;
        left: 5%;
        font-size: 10px;
        border: 0 solid transparent;
    }
    .maps {
        width: 100%;
        height: 24vh;
    }
    .contact-icons:hover{
        scale: 1.06;
        cursor: pointer;
    }
 }