@import "https://unpkg.com/open-props";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #222327;
    --text-color:#fff;
    --btn-color:#29fd53;
}

body{
   background-color: var(--gray-3);
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    
}
.go-back{
    position: absolute;
    background-color: transparent;
    top:3%;
    left: 5%;
    font-size: 9px;
    border: 0 solid transparent;
}
.go-back:hover{
    cursor: pointer;
    scale: 1.05;
    transition: .3s ease-in-out;
}
.register{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15vh 0 0 0;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: var(--gray-1);
    transition: .3s ease-in-out;
    height: 100%;

}
.form-container{
    display: flex;
    justify-content: center;
    margin: 20px 0 23px 0;
}
form{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-last{
    display: flex;
    flex-direction: column
}
.name-box{
    width: 145px;
}
fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0 solid transparent;
    gap: 10px;
}
.input-label{
    display: flex;
    flex-direction: column;
}
input{
    border: 0 solid transparent;
    height: 25px;
    background-color:lightgrey;
    border-radius: 3px;
}
::placeholder{
    font-size: 11px;
    padding-left: 2px;
}
label{
    font-size: 13px;
    padding: 15px 0 5px 0;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 12px;
    padding: 8px 0 5px 0;
    
}
.buttton{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 2px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.sign-button{
    
    width: 200px;
    height: 25px;
    border: 0 solid transparent;
    border-radius: 8px;
    background-color: lightgray;
}
.sign-button a{
    text-decoration: none;
}
.sign-button a:hover{
    scale: 1.03;
    transition: .3s ease;
}

.sign-button:hover{
    background-color: var(--btn-color);
    transition: .3s ease-in-out;
    cursor: pointer;
}
.link, .buttton p{
    font-size: 13px;
    text-decoration: none;
   

}
.link:hover{
    color: var(--btn-color);
    scale: 1.2;
    font-weight: 600;
    transition: .3s ease-in-out;
    text-decoration: underline; font-size: 14px;
    
}
.link:active{
    color: var(--btn-color);
    scale: 1.2;
    font-weight: 600;
    transition: .3s ease-in-out;
    text-decoration: underline; font-size: 14px;
    
}
@media screen and (min-width:768px) {
    section{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        background-color: var(--gray-1);
        margin: 80px;
        border-radius: 8px;
        transition: all .5s ease-in-out;
        
    }
    
}
@media screen and (min-width:1024px) {
    section{
        transition: all .5s ease-in-out;
    }
    
    .name-box{
        width: 245px
    }
    

    form{
        width:500px ;
    }
    input{
        height: 40px;
    }
    label{
        font-size: 14px;
    }
    ::placeholder{
        font-size: 13px;
    }
    .sign-button{
        height: 30px;
        width: 300px;
    }
    .checkbox{
        padding: 0 80px 0 80px;
    }
    
}
@media screen and (min-width:1440px){
    section{
        margin: 70px 200px 0 200px;
        transition: all .5s ease-in-out;
    }
    .go-back{
        font-size: 10px;
    }
    
}
@media screen and (min-width:1920px){
    section{
        margin: 70px 200px 0 200px;
        transition: all .5s ease-in-out;
    }
    .go-back{
        font-size: 11px;
    }

}
